*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

body {
    background-color: rgb(255, 192, 115);
}

.visible {
    /* display: block; */
    animation: visible 3s;
}

@keyframes visible{
    from {opacity: 0;}
    to {opacity: 1;}
}

.hidden {
    display: none;
}



#notification-wrapper {
    position: absolute;
    z-index: 10;
    bottom: 3rem;
    right: 2rem;
    width: 400px;
    height: 200px;
}

.notification-message {
    background-color: #fff;
    width: 400px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 2px 15px 30px rgba(0,0,0,0.4);
}

.notification-message img {
    width: 100px;
    margin: 5px;
}

.notification-message .message {
    padding:  0 20px 20px 20px;
}

.notification-corner {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
}